[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gdpc"]
	path = gdpc
	url = https://github.com/esmucler/gdpc
[submodule "odpc"]
	path = odpc
	url = https://github.com/esmucler/odpc
